body {
    font-size: 19px;
}

table {
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
    font-size: 17px;
}

tr {
    border-bottom: 1px solid #cbcbcb;
}

th,
td {
    border: none;
    height: 30px;
    padding: 2px;
}

tr:hover {
    background: #F5F5F5;
}

form {
    width: 45%;
    margin: 50px auto;
    text-align: left;
    padding: 20px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}

.input-group {
    display: grid;
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn {
    width: 105%;
    margin: .1rem;
    padding: 10px;
    font-size: 17px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
}


.btn:nth-child(2) {
    background: #865fa0;
}

.btn:nth-child(1):hover {
    background: #5f88a0;
}

.btn:nth-child(2):hover {
    background: #6b5fa0;
}

.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}

.msg {
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}

.msg-erro {
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    color: #763c3c;
    background: #f0d8d8;
    border: 1px solid #763c3c;
    width: 50%;
    text-align: center;
}

@media screen and (min-width: 522px) {
    .input-group {
        display: block;
    }

    .btn {
        position: relative;
        width: 46%;
        left: 2%;
    }
}